<!-- Page Wrapper -->
<%- include('../layout/header.ejs') %>

<!-- Sidebar -->
<%- include('../layout/sidebar.ejs') %>
<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <%- include('../layout/navbar.ejs') %>
    <form action="/admin/category/update" method="POST" class="edit-category container">
      <h3 class="text-center">Sửa Danh Mục</h3>
      <input type="hidden" name="id" value="<%= category.id %>">
      <div class="mb-3">
        <input type="text" class="form-control" value="<%= category.name_category %>" name="name_category" placeholder="Nhập tên danh mục">
      </div>
      <div>
        <button type="submit" class="btn btn-warning">Lưu</button>
        <button type="reset" class="btn btn-primary">Nhập Lại</button>
      </div>

    </form>
  </div>
</div>
<%- include('../layout/footer.ejs') %>