<!-- Page Wrapper -->
<%- include('../layout/header.ejs') %>

<!-- Sidebar -->
<%- include('../layout/sidebar.ejs') %>
<!-- End of Sidebar -->

<div id="content-wrapper" class="d-flex flex-column">

  <!-- Main Content -->
  <div id="content">

    <!-- Topbar -->
    <%- include('../layout/navbar.ejs') %>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">

      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">Danh Sách Bình Luận</h1>


      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <!-- <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div> -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>STT</th>

                  <th>Tên Sản Phẩm</th>
                  <th>Email</th>
                  <th>Số Sao</th>
                  <th>Mô Tả</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>STT</th>
                  <th style="width: 17%">Tên Sản Phẩm</th>
                  <th style="width: 15%">Email</th>
                  <th style="width: 10%">Số Sao</th>
                  <th style="width: 35%">Mô Tả</th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
              <tbody>
                <% let stt = 0; for( const comment of listComment ) {  stt++ %>
                <tr>
                  <td><%=  stt %></td>
                  <td><%= comment.name_product %></td>
                  <td><%= comment.email %></td>
                  <td><%= comment.star %></td>
                  <td><%= comment.description %></td>
                  <td><a href="/admin/comment/edit/<%=  comment.id %>" class="btn btn-warning btn-sm">Sửa</a></td>
                  <td><a href="javascript:void(0)" data_href="/admin/comment/delete/<%= comment.id  %>" class="btn btn-danger btn-sm delete" data-toggle="modal" data-target="#areyousure">Xóa</a></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->

  <!-- Footer -->
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Nguyễn Đức Huy ADMIN 2020</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->

</div>


<%- include('../layout/footer.ejs') %>